<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Optional theme -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Command panel</title>
</head>

<body>
    <div id="log_viewer" style="padding: 1em;">
    </div>
</body>
<style>
    #log_viewer {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
    div.entry {
        display: flex;
        flex-direction: row;
    }
    div.module {
        font-weight: bold;
        width: 23em;
        min-width: 23em;
    }
    div.content {
        white-space: pre;
        font-family: monospace;
    }

    div.INFO {
        color: blue;
    }
    div.WARN {
        color: orange;
    }
    div.ERROR {
        color: red;
    }
</style>
<script>
    // extract last folder
    let baseUrl = window.location.href.split('/').slice(0, -2).join('/');


    function parseLine(line) {
        let start_date_idx = 1;
        let end_date_idx = line.indexOf(" ");
        if (end_date_idx == -1) {
            return false;
        }
        let timestamp = Date.parse(line.substring(start_date_idx, end_date_idx));
        if (isNaN(timestamp)) {
            return false;
        }
        let date = new Date(timestamp);
        let endInfo = line.indexOf(" ", end_date_idx + 1);
        let logLevel = line.substring(end_date_idx + 1, endInfo);
        let endModule = line.indexOf("]", endInfo + 1);
        let module = line.substring(endInfo + 1, endModule);

        return {
            date: date,
            logLevel: logLevel,
            module: module,
            content: line.substring(endModule + 2)
        };

    }

    async function showNodeFile(no, path) {
        let runUp = fetch(`${baseUrl}/yagna/${no}/file/${path}`, {
            method: "GET"
        });
        let response = await runUp;
        let resp = await response.text();
        let resp_split = resp.split("\n");
        let new_split = []
        for (let i = 0; i < resp_split.length; i++) {
            let line = resp_split[i];
            let parsedLine = parseLine(line);
            if (parsedLine !== false) {
                new_split.push(parsedLine);
            } else {
                if (new_split.length >= 1) {
                    new_split[new_split.length - 1].content += "\n" + line;
                }
            }
        }
        let max_len = 100;
        for (let i = 0; i < new_split.length; i++) {
            if (new_split[i].content.length > max_len) {
                new_split[i].shortContent = new_split[i].content.substring(0, max_len) + "...";
            } else {
                new_split[i].shortContent = new_split[i].content;
            }
        }

        let html_split = "<div>";
        for (let i = 0; i < new_split.length; i++) {
            let obj = new_split[i];
            let content = obj.shortContent.replaceAll("\n", "<br/>");
            html_split += '<div class="entry">';
            html_split += `<div class="module">${obj.module}</div>`;
                html_split += `<div class="content ${obj.logLevel}">${content}</div>`;
            html_split += '</div>';
        }
        html_split += "</div>";
        $('#log_viewer').html(html_split);
    }
    $(document).ready(function() {
        showNodeFile(0, 'yagna|yagna_rCURRENT.log')
    });




</script>