<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Command panel</title>
</head>
<body>
    <div style="padding: 0.6em; font-size: 1.4em; font-weight: bold">Your testnet</div>

    <div style="border: 1px solid indigo; padding: 0.3em;">
        Compose commands:
        <div style="padding: 0.2em;">
            <button id="stop_nodes_btn" onclick="stopNodes()" style="margin: 0.5em;">Service down</button>
            <button id="start_nodes_btn" onclick="startNodes()" style="margin: 0.5em;">Service up</button>
        </div>
    </div>
    <div>
        {% for node in nodes %}
        <div style="padding: 1em; border: 1px solid gray; margin: 0.2em;">
            <div style="font-weight: bold;">Provider number: {{node}}</div>
            <button onclick="startNode({{node}})" style="margin: 0.5em;">Start node</button>
            <button onclick="stopNode({{node}})" style="margin: 0.5em;">Stop node</button>
            <button onclick="runYagnaCommand({{node}})" style="margin: 0.5em;">Payment status</button>
            <table>
                <tr><th>Status/Identity</th><td><div id="yagna_status_{{node}}"></div></td></tr>

            </table>
            <div style="border: 1px solid blue; padding: 0.1em;">
                <div style="font-weight: bold">Process list:</div>
                <div id="proc_list_{{ node }}"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea style="width: 100%; height: 500px; font-family: Consolas" id="command_result"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>
<script>

    let nodes = {{ nodes }};

    async function stopNodes() {
        $(`#stop_nodes_btn`).prop('disabled', true)
        $(`#start_nodes_btn`).prop('disabled', true);
        let startClosing = fetch(`/compose/down`, {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
        });

        for (let node = 0; node < nodes.length; node++) {
            $(`#yagna_status_${node}`).html("stopping...");
        }

        await startClosing;
        $(`#stop_nodes_btn`).prop('disabled', false)
        $(`#start_nodes_btn`).prop('disabled', false);

        await refreshNodes();
    }

    async function runYagnaCommand(no) {
        let runUp = fetch(`/yagna/${no}/cli`, {
            method: "POST",
            body: "payment status --json",
        });
        let response = await runUp;
        let resp = await response.text()
        console.log(`response: ${response.status} ${resp}`);
        $('#myModal').modal('toggle');
        $('#command_result').html(resp);
    }

    async function getProcessList(no) {
         console.log(`getProcessList(${no})`);
        let runUp = fetch(`/yagna/${no}/proc`, {
            method: "GET"
        });
        let response = await runUp;
        let resp = await response.json()


        let html = "";
        for (let i = 0; i < resp.length; i++) {
            html += `<div>${resp[i]["command"]} (pid: ${resp[i]["pid"]}, cpu: ${resp[i]["cpu"]})</div>`;
        }
        $(`#proc_list_${no}`).html(html);
        console.log(`response: ${response.status} ${resp}`);

    }

    async function startNode(no) {
        console.log(`startNode(${no})`);
        let runUp = fetch(`/yagna/${no}/start`, {
            method: "POST"
        });
        let response = await runUp;
        let resp = await response.text()
        console.log(`response: ${response.status} ${resp}`);
    }

    async function stopNode(no) {
         console.log(`startNode(${no})`);
        let runUp = fetch(`/yagna/${no}/stop`, {
            method: "POST"
        });
        let response = await runUp;
        let resp = await response.text()
        console.log(`response: ${response.status} ${resp}`);
    }

    async function startNodes() {
        $(`#stop_nodes_btn`).prop('disabled', true)
        $(`#start_nodes_btn`).prop('disabled', true);

        let runUp = fetch(`/compose/up`, {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
        });

        for (let node = 0; node < nodes.length; node++) {
            $(`#yagna_status_${node}`).html("starting...");
        }

        await runUp;
        $(`#stop_nodes_btn`).prop('disabled', false)
        $(`#start_nodes_btn`).prop('disabled', false);
        await refreshNodes(true);
    }

    async function loadYagnaStatus(node, showChecking) {
        // call the function to load the data
        if (showChecking) {
            $(`#yagna_status_${node}`).html("checking...");
        }

        const response = await fetch(`/yagna/${node}/isup`, {
            method: "GET", // *GET, POST, PUT, DELETE, etc.
        });
        let resp = await response.text();

        let res_json = JSON.parse(resp);
        if ('identity' in res_json) {
            $(`#yagna_status_${node}`).css('color', 'green');
            $(`#yagna_status_${node}`).html(res_json['identity']);
        } else {
            $(`#yagna_status_${node}`).css('color', 'red');
            $(`#yagna_status_${node}`).html(res_json['error']);
        }
        console.log(`response: ${response.status} ${response.statusText}`);
    }

    async function refreshNodes(showChecking) {
        let futures = [];
        for (let i = 0; i < nodes.length; i++) {
            futures.push(loadYagnaStatus(nodes[i], showChecking));
            futures.push(getProcessList(nodes[i]))
        }
        await Promise.all(futures);
    }

    document.addEventListener('DOMContentLoaded', async function () {
        console.log('DOM fully loaded and parsed');
        await refreshNodes(true);


        while (true) {
            try {
                await refreshNodes(false);
            } catch (e) {
                console.error(e);
            }
            await new Promise(r => setTimeout(r, 4000));
        }
    });
</script>
</html>